.thumbnail {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 35px;
  text-align: center;
  width: 170px;
  height: 400px;
  display: inline-block;
  overflow: auto;
}

.coverImg {
  width: auto;
  height: auto;
  max-width: 170px;
}
 .title {
  white-space: normal;
  font-size: 18px;
  color: white;
 }

 .genres {
  margin-left: -20px;
  list-style: none;
 }

 a:link {
  color: white;
 }

 a:visited {
  color: white;
 }